* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  body {
    background-color:whitesmoke;
    font-size: 12px;
    color:black;
    text-align: justify;  
    }
  
  @media (min-width: 400px) {
    body {
      font-size: 18px;
    }
  }
  
  @media (min-width: 600px) {
    body {
      font-size: 22px;
    }
  }
  
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container  {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    justify-content: space-around;
    display: flex;
    font-size: xx-large;
  }
  
  .container li {
    list-style: none;
  }
  
  .container a {
    color: black;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 1s, color 1s;
  }
  .container a:active,
  .container a:hover {
    background-color: black;
    color: white;
}
.site-title {
    color: rgb(19, 18, 18);
    text-align: center;
    font-size: 3em;
    }
  
  .site-subtitle {
    color: rgb(5, 5, 5);
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 1,5em;
  }
  .titles {
    border: 4px solid rgb(122, 122, 121);
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 9px 0px rgb(253, 253, 220);
    border-radius: 10px;
    padding: 10px;
  }
  .contato .icons {
    text-align: center;
    grid-template-columns: repeat(4, 200px);
    margin-top: -2em;
    padding: 2em;
  }
  .contato h2{padding: 1em;
  margin-bottom: -3em;}
  .contato a {
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 1s;
  }
  
  .contato a:active,
  .contato a:hover  {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
  }
  h3{
      text-align: left;
      line-height: 50px;
  }
  p{
      text-align: justify;
     }
.competencias, .formação, .cursos, .idioma, .carreira{
    padding: 0 45px;
    border-bottom: 2px;
    margin-top: 30px;
}
.empresa{
    padding: 0 45px;
    border-bottom: 2px;
    margin-top: 20px;
margin-bottom: 20px;
}
